input{
    border-radius:10px;
    margin-top:10px;
    padding-top:5px;
    padding-bottom:5px;
    background-color: aqua;
    
}

button{
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(255, 5, 222);
}

#form-container{
    background-color: rgb(6, 2, 250);
    padding: 10px;
    width: 15%;
    border-radius: 10px;
    
}